<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:requestLegacyExternalStorage="true"
    android:usesCleartextTraffic="true"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.honeywell.decode.permission.DECODE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/se"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme" >


        <activity
            android:name="com.honeywell.stevents.Activity_Main"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.honeywell.stevents.AutomaticBarcodeActivity"
            android:exported="true"
            android:label="@string/barcode"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.AUTOMATICBARCODEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.honeywell.stevents.ClientBarcodeActivity"
            android:exported="true"
            android:label="@string/barcode"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.CLIENTBARCODEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.honeywell.stevents.Activity_Main_Input"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SE_MAIN_INPUT_BARCODEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.honeywell.stevents.Activity_GeneralEq_Input"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_GENERAL_EQ_BARCODEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.honeywell.stevents.Activity_Noise_Input"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_NOISE_BARCODEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.honeywell.stevents.Activity_PH_Input"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_PH_BARCODEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.honeywell.stevents.Activity_VOC_Input"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_VOC_BARCODEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.honeywell.stevents.StDetEditDataActivity"
            android:exported="true"
            android:label="@string/EditData"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.STDETEDITACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.honeywell.stevents.StDetEditListActivity"
            android:exported="true"
            android:label="List Recent Readings"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.STDETEDITLISTACTIVITY" />
                <action android:name="android.intent.action.STDETEDITLISTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Login"
            android:label="@string/Login"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOGINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ScannerSelectionBarcodeActivity"
            android:exported="true"
            android:label="@string/barcode"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SCANNERSELECTBARCODEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DownloadDataActivity"
            android:exported="true"
            android:label="DownloadDataActivity"
            android:parentActivityName=".Activity_Main" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOADACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.honeywell.stevents.Activity_Main" />
        </activity>
        <activity
            android:name=".ParseXMLAndUploadToDBActivity"
            android:exported="true"
            android:label="ParseXMLAndUploadToDBActivity"
            android:parentActivityName=".Activity_Main" >
            <intent-filter>
                <action android:name="android.intent.action.PARSEXMLACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.honeywell.stevents.Activity_Main" />
        </activity>
    </application>

</manifest>